*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font1--: color (red);
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    width: 100%;
}

#header{
    height: 46px;
    background-color: #000  ;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}
#nav{
    display: inline;
}
#nav .subnav{
    list-style: none;
}
#nav > li{
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}
#nav li{
 
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav  li  a{
    text-decoration: none;
    line-height: 46.4px;
    padding: 0px 24px;
    display: block;
    
 
}
#nav .subnav li:hover a,    
#nav > li:hover >a{
    color: #000;
    background-color: #ccc; 
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0 ,0.3);
    min-width: 160px;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    
}
#nav .icon-dowload{
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
  
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover{
    cursor: pointer; 
    background-color: #f44336;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('/Front_end/3W_Music/assets/images/banner.jpg') ;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.text-heading {
    font-weight: 500;
    font-size: 24px;
}
.text-description{
    font-size: 15px;
    margin-top: 25px;
}
#content{

}
#content .content-section{
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
}
#content .member-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;
    width: 33.333%;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
    
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
.tour-section{
    height: 845px;
    margin-top: 45px;
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none    ;
}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px 8px;
    margin-left: 16px;
    display: inline-block;
}
.tickets-list .quantity {
   color: #fff;
   background-color: #000;
   border-radius: 50%; 
   padding: 2px 8px;
   float: right;
   margin-right: 20px;
}
.tour-banner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  
}
.tour-banner .banner-left{
    width: 255px;
    height: 400px;
    background-color: #fff;
}
.tour-banner .banner-center{
    width: 255px;
    height: 400px;
    background-color: #fff;
    margin-left: 16px;
}
.tour-banner .banner-right{
    width: 255px;
    height: 400px;
    background-color: #fff;
    margin-left: 16px;
}
.table-tour .name-banner {
    color: #000;
    list-style: none;
 
}
.table-tour .data-banner {
    opacity: 0.60;
    margin: 15px 0px;
}
.table-tour .button-tour{
    background-color: #000;
    width: 108px;
    height: 38px;
    color: #fff;
    margin-top: 15px;
    border: none;
}
.table-tour .button-tour:hover{
    background-color: #ccc;
    border: none;
}
.table-tour {
    padding: 10px 16px;
   
 
}
.tour-banner .tour-img {
    width: 255px;
    height: 184px;
    font-size: 15px;
}
.tour-banner .tour-img:hover{

    
}
.content-section {
    width: 100%;
    height: 460px;
}
.content-section .show-contacts{
    width: 384px;
    height: 80px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #000;

}   

.show-contacts .location {  
   padding: 10px 20px;
    display: flex;
    align-items: center;
}
.show-contacts i {
    color: #000;

}
.show-contacts span {
    margin-left: 20px;
    color: #000000;
}
#footer{

}
